<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-title">
                <h1 class="page-title-text"><%= @event.name %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 page-text">
                <h2>Event Details</h2>
                <p>
                    Name: <%= @event.name %> <br>
                    Date: <%= @event.date %> <br>
                    Max capacity: <%= @event.capacity %> <br>
                    Theme: <%= @event.theme %>
                </p>
                <% if logged_in? and current_user.admin? %>
                    <div class="event-actions">
                        <%= button_to "Delete Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-large edit-button event-button" %>
                        <%= button_to "Edit Event", edit_event_path(@event), method: :get, class:"btn btn-primary btn-large edit-button event-button" %>
                    <div class="event-actions-left">
                        <%= link_to "Back", request.referer.present? ? request.referer : default_path, class:"btn btn-primary btn-large cancel-button" %>
                    </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>